.page {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(238, 238, 238);
}

.page__top {
  padding: 16px 16px 38px 16px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1);
  background-color: white;
}

.page__title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;  
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.page__footer {
  margin-top: 32px;
}

.header {
  position: relative;
  height: 64px;
  box-shadow: 0 4px 24px rgba(85,118,202,.1);
  background-color: white;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 32px;
  height: 32px;
  color: rgba(32, 106, 218, 1);
}

.header__user {
  margin-left: 12px;
  height: 40px;
  background-color: rgb(246, 247, 251);
  border-radius: 8px;
  padding: 0 16px 0 40px;
  background-image: url(./images/user.svg), url(./images/arrow-down.svg);
  background-position: left 16px top 50%, right 16px top 50%;
  background-repeat: no-repeat;
  background-size: 16px, 10px 10px;
  display: flex;
  align-items: center;
  flex: 1;
  color: rgb(32, 106, 218);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  background: none;
  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;  
}

.menu-btn_bg {
  background-color: rgb(246, 247, 251);
}

.menu-btn__bars {
  position: relative;
  border-radius: 2px;
  background-color: black;
  margin: auto;
  width: 20px;
  height: 2px;  
}

.menu-btn__bars::before {
  content: "";
  display: block;
  position: relative;
  top: -6px;
  border-radius: 2px;
  background-color: black;
  width: 20px;
  height: 2px;
}

.menu-btn__bars::after {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  border-radius: 2px;
  background-color: black;
  width: 20px;
  height: 2px;
}

.menu-btn__bars_s {width: 16px;}
.menu-btn__bars_s::before {width: 16px; top: -5px}
.menu-btn__bars_s::after {width: 16px; top: 3px}

.icon-btn {
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn_type_text {
  padding: 0 12px;  
  border: 1px solid rgba(32,106,218,.5);
  border-radius: 8px;
  justify-content: flex-start;
  width: auto;  
  font-size: 16px;
  font-family: roboto, sans-serif;  
  color: #206ada;
}

.icon-btn__icon {
  width: 16px;
  height: 16px;
}

.icon-btn__icon_type_text {
  margin-right: 8px;
}

.icon-btn__icon_color_blue {
  fill: #206ada;
}

.icon-btn__icon_color_black {
  fill: rgb(32, 32, 32);
}

.button {
  flex: 1;
  margin: 0;
  padding: 0 12px;
  background: none;
  border: none;
  border-radius: 8px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  color: white;
  font-size: 16px;
}

.button_color_blue {
  background-color: #206ada;
}

.button_color_red {
  border: 1px solid #cc0b0b;
  color: #cc0b0b;
}

.button_size_s {
  min-height: 40px;
}

.splash {
  margin-bottom: 40px;
  padding: 16px 24px 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #219653;
  box-shadow: 0 4px 32px rgba(33,150,83,.4);
}

.splash__text-container {  
  padding: 16px 0 24px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.splash__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.4;  
  font-weight: 500;
}

.splash__subtitle {
  margin: 16px 0 0 0;
  padding: 0;
  opacity: .6;
}

.splash__bottom-subtitle {
  margin: 32px 0 0 0;
  padding: 0;    
  font-weight: 500;
}

.splash__image {
  width: 142px;
}

.appointment-controls {
  margin: 8px;
  display: flex;
  align-items: center;
}

.appointment-controls__date {
  width: 96px;
  background-color: white;  
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.appointment-controls__new {
  margin: 0 8px;
  
}

.appointment-controls__menu {
  width: 72px;
  background-color: white;  
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 4px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.appointment-details {
  padding: 24px 16px 32px;
  border-radius: 12px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.appointment-details__doc-speciality {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.appointment-details__doc-name {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.appointment-details__button {
  margin-bottom: 8px;
}

.appointment-details__subtitle {
  margin: 8px 0 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #888;
  font-family: Roboto, sans-serif;
}

.appointment-details__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: Roboto, sans-serif;
}

.appointment-details__clinic-name {
  color: #206ada;
}

.appointment-details__more-btn {
  margin: 16px 0;
  padding: 0;
  background: none;
  border: none;
  color: #206ada;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.appointment-details__more-icon {
  fill: #206ada;
  width: 9px;
}

.footer {
  overflow: hidden;
  padding: 32px 16px 48px;
  background-color: rgb(17, 17, 17);
  border-radius: 16px 16px 0 0 ;
}

.footer__logo-container {
  display: flex;
  align-items: center;

}

.footer__logo {
  width: 40px;
  fill: white;
}

.footer__logo-text {
  margin-left: 16px;
  width: 85px;
  fill: white;
}

.footer__company-container {
  margin-top: 24px;
  display: flex;
}

.footer__company {
  display: flex;
  align-items: center;
  
}

.footer__company-pic {
  width: 40px;
}

.footer__company-text {
  margin: 0 0 0 12px;
  padding: 0;
  max-width: 120px;
  opacity: .4;
  font-size: 10px;
  line-height: 15px;
  font-family: Roboto, sans-serif;
  color: white;
}

.modal {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 8px; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(0,0,0,.7);
  
  transition: height .05s;
}

.modal_open {
  height: 100%;
}

.modal__outer-container {
  margin: 8px;
  position: relative;
  padding-top: 32px;
}

.modal__container {
  padding: 24px 16px 8px 16px;
  background-color: white;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 16px;
  fill: white;
}

.modal__label {
  padding-left: 4px;
  font-family: Roboto, sans-serif;
}

.modal__input {
  margin-bottom: 8px;
  padding: 0 12px;
  border-radius: 8px;
  min-height: 30px;
  display: block;
  width: 100%;
  box-sizing: border-box;  
  font-family: Roboto, sans-serif;
}

.modal__input_type_text {
  border: 1px solid #aaa
}

.modal__input_type_select {
  border: 1px solid #aaa
}

.modal__input_field_submit {
  margin-top: 16px;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
}

.loading-screen_hidden {
  display: none;
}

.loading-screen__spinner {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 5px solid #206ada;
  border-color: #206ada #206ada #206ada transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

